[submodule "src/transporter_interface"]
	path = src/transporter_interface
	url = https://github.com/SOLAR-NEXT-GEN/transporter_interface.git
[submodule "src/transporter_realsense"]
	path = src/transporter_realsense
	url = https://github.com/SOLAR-NEXT-GEN/transporter_realsense.git
[submodule "src/transporter_description"]
	path = src/transporter_description
	url = https://github.com/SOLAR-NEXT-GEN/transporter_description.git
[submodule "src/transporter_bringup"]
	path = src/transporter_bringup
	url = https://github.com/SOLAR-NEXT-GEN/transporter_bringup.git
[submodule "src/transporter_rtk"]
	path = src/transporter_rtk
	url = https://github.com/SOLAR-NEXT-GEN/transporter_rtk.git
[submodule "src/sparkfun_rtk_express"]
	path = src/sparkfun_rtk_express
	url = https://github.com/pboon09/sparkfun_rtk_express.git
[submodule "src/transporter_joy"]
	path = src/transporter_joy
	url = https://github.com/SOLAR-NEXT-GEN/transporter_joy.git
[submodule "firmware/Adafruit-9-DOF-Absolute-Orientation-IMU-Fusion-Breakout---BNO055"]
	path = firmware/Adafruit-9-DOF-Absolute-Orientation-IMU-Fusion-Breakout---BNO055
	url = https://github.com/SOLAR-NEXT-GEN/Adafruit-9-DOF-Absolute-Orientation-IMU-Fusion-Breakout---BNO055.git
	branch = G4_NO_UROS
[submodule "firmware/imu_uros"]
	path = firmware/imu_uros
	url = https://github.com/SOLAR-NEXT-GEN/Adafruit-9-DOF-Absolute-Orientation-IMU-Fusion-Breakout---BNO055.git
	branch = G4_UROS_UART
[submodule "src/transporter_imu"]
	path = src/transporter_imu
	url = https://github.com/SOLAR-NEXT-GEN/transporter_imu.git
[submodule "src/transporter_controller"]
	path = src/transporter_controller
	url = https://github.com/SOLAR-NEXT-GEN/transporter_controller.git
[submodule "src/transporter_simulation"]
	path = src/transporter_simulation
	url = https://github.com/SOLAR-NEXT-GEN/transporter_simulation.git
[submodule "src/robot_localization"]
	path = src/robot_localization
	url = https://github.com/cra-ros-pkg/robot_localization.git
	branch = humble-devel
[submodule "src/transporter_localization"]
	path = src/transporter_localization
	url = https://github.com/SOLAR-NEXT-GEN/transporter_localization.git
[submodule "src/ros2_twist_mux"]
	path = src/ros2_twist_mux
	url = https://github.com/pboon09/ros2_twist_mux.git
